<main class ="top-main">
<h2 class ="top-name">ようこそ <strong>Bookers</strong> へ！</h2>
<p class="top-main"><strong>Bookers</strong>では、さまざまな書籍に関するあなたの意見や</p>
<p class="top-main">印象や意見を共有し交換することができます。</p>
<p class="top-main"><%= link_to 'start', books_path,class:"table-content" %></p>
</main>
